<html ng-app="fretboard" ng-cloak>
    <head>
        <title>Fretboard Chords</title>
        <link href="stylesheets/styles.css" rel="stylesheet" type="text/css"></link>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app/fretboard.js"></script>
    </head>
    <body>
        <img src="images/logo.png" id="logo" width="815" height="134">

        <div id="canvas_container" ng-controller="FretboardCtrl as fretboard">
            <svg height="400" version="1.1" width="1200" xmlns="http://www.w3.org/2000/svg">

                <!-- Wood -->
                <rect id="wood" x="0" y="0" width="{{fretboard.woodLength}}" height="{{fretboard.fretboardHeight}}" r="0" rx="0" ry="0" ></rect>

                <!-- Frets -->
                <path ng-class="{nut: $first}" class="fret"  ng-repeat="fret in fretboard.frets"  d="M {{fret.xPosition}} , 0 L {{fret.xPosition}} , {{fretboard.fretboardHeight}} "></path>

                <!-- Simple Markers -->
                <circle class="marker" ng-repeat="marker in fretboard.simpleMarkers" cx="{{marker.xPosition}}" cy="{{marker.yPosition}}" r="{{marker.radius}}"></circle>

                <!-- Double Markers -->
                <g ng-repeat="marker in fretboard.doubleMarkers">
                    <circle class="marker" cx="{{marker.xPosition}}" cy="{{marker.yPosition1}}" r="{{marker.radius}}"></circle>
                    <circle class="marker" cx="{{marker.xPosition}}" cy="{{marker.yPosition2}}" r="{{marker.radius}}"></circle>
                </g>

                <!-- Strings -->
                <path class="string"  ng-repeat="string in fretboard.strings" d="M 0, {{string.yPosition}} L {{fretboard.woodLength}} , {{string.yPosition}} "></path>

                <!-- Notes -->
                <g>
                    <circle ng-click="fretboard.toggleNote($index)" ng-class="{selected : note.selected}" ng-repeat="note in fretboard.notes"  class="note" cx="{{note.xPosition}}" cy="{{note.yPosition}}" r="13"></circle>
                </g>
            </svg>
        </div>

    </body>
</html>

