@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

body{
  @include linear-gradient( 90deg, #A100FF 10%, #713BBE 90%);
  text-align: center;
  margin:0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
svg{
  overflow: visible;
}

button{
  background: none;
  border-radius: 0;
  border: 3px solid #000;
  color:black;
  &:hover{
    background: black;
    color:white;
  }
}

header{
  @include outer-container;
  nav{
    text-align: right;
    a{
      font-size: 30px;
      color:white;
      &:hover{
        color:#E5D0FF;
      }
    }
  }
}

.fretboard{
  .chord-name{
    @include outer-container;
    input{
      width: 480px;
      margin: 0px auto 30px auto;
      background: none;
      color: #FFF;
      font-size: 35px;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid #9F7EFF;
      box-shadow: none;
      text-align: center;
      @include placeholder {
        color: #9F7EFF;
      }
      &:focus{
        border-bottom: 2px solid #fff;
      }
    }
  }
}
.generate{
  @include outer-container;
  margin-top: 30px;
  margin-bottom: 50px;
  button#generate-chord{
    font-size: 18px;
    padding: 18px 40px;
    border:3px solid white;
    color:white;
    &:hover{
      background: white;
      color:#A100FF;
    }
  }
}

#logo{
  margin: 10px auto;
}
#canvas_container {
  width:1200px;
  margin: 0 auto;
}

#wood{
  fill: #795d4e;
}

.fret{
  stroke:#5e4747;
  stroke-width:2;
  &.nut{
    stroke: #000;
    stroke-width:8;
  }
}


.string{
  stroke: #ccc;
  stroke-width:1;
}

.marker{
  fill:#FFF;
}

.note{
  cursor:pointer;
  fill:rgba(0,0,0,0);

  &:hover{
    fill:rgba(0,0,0,0.3);
  }
  &.selected{
    fill: #FFF;
    stroke: #1F1F1F;
    stroke-width: 3px;
  }

}


.recent-chords{
  background: white;
  padding:40px 0;
  margin:0;
  border-top:4px solid #43146F;

  .chords{
    @include outer-container;
    .chord{
      text-align: center;
      margin-bottom: 30px;
      @include span-columns(2);
      &:nth-child(6n) {
        margin-right: 0;
      }
      &:nth-child(6n+1) {
        clear: left;
      }
      .actions{
        a{
          font-size: 13px;
        }
      }
    }

  }

}