body{
  background: rgb(72, 224, 237);
  text-align: center;
}
svg{
  overflow: visible;
}
#logo{
  margin: 100px auto;
}
#canvas_container {
  width:1200px;
  margin: 0 auto;
}

#wood{
  fill: #795d4e;
}

.fret{
  stroke:#5e4747;
  stroke-width:2;
}

.nut.fret{
  stroke: #000;
  stroke-width:8;
}

.string{
  stroke: #ccc;
  stroke-width:1;
}

.marker{
  fill:#FFF;
}

.note{
  cursor:pointer;
  fill:rgba(0,0,0,0);
}
.note:hover{
  fill:rgba(0,0,0,0.3);
}

.note.selected{
  fill: #FFF;
  stroke: #1F1F1F;
  stroke-width: 3px;
}
